/bin/
/build/
/out/
/.gradle/
/gradle-app.setting
/cobertura.ser
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/buildSrc.iml
/*.iws
/GPars.ipr
/GPars.iml
/gpars.iml
/.classpath
/.project/
/.settings/
*~
/caliper-charts/
/caliper-results/
/.idea/
